* {
	&:active,
	&:focus,
	&:visited {
		text-decoration: none !important;
		outline: none !important;
	}
}
body {
	font-family: $PFDinTextPro-Regular;
}
.wrap {
	min-width: 320px;
}
.col {
	padding: 0;
	margin: 0;
	position: relative;
}
.container {
	position: relative;
}
