footer {
	width: 100%;
	height: 280px;

	background: linear-gradient(176deg, #caad59, #a08a46);
	background-size: 400% 400%;

	-webkit-animation: footer-bg 10s ease infinite;
	-moz-animation: footer-bg 10s ease infinite;
	animation: footer-bg 10s ease infinite;

	@-webkit-keyframes footer-bg {
		0%{background-position:50% 0%}
		50%{background-position:51% 100%}
		100%{background-position:50% 0%}
	}
	@-moz-keyframes footer-bg {
		0%{background-position:50% 0%}
		50%{background-position:51% 100%}
		100%{background-position:50% 0%}
	}
	@keyframes footer-bg {
		0%{background-position:50% 0%}
		50%{background-position:51% 100%}
		100%{background-position:50% 0%}
	}
}
.footer__info {
	margin: 40px 0 20px;
	width: 100%;
	display: inline-flex;
	align-items: top;
	flex-flow: flex-direction;
	justify-content: space-between;

	.about__list,
	.ship__list,
	.phone__list,
	.time__list,
	.social__list {
		padding: 0;
		margin: 0;
	}
	.about__item,
	.ship__item,
	.phone__item,
	.time__item,
	.social__item {
		list-style-type: none;
		font-family: $PFDinTextPro-Light;
		font-size: 15px;
	}
	.about__item,
	.ship__item,
	.phone__item,
	.time__item{
		font-family: $PFDinTextPro-Regular;
		color: #040404;
		margin: 4px 0px;
	}
	.about__link,
	.ship__link,
	.phone__link,
	.time__link,
	.social__link {
		color: $footer-text;
	}
	.phone {
		margin: 0;
	}
	.phone__item {
		display: block;
	}
	.phone__link {
		font-size: 15px;
		color: $footer-text;
	}
	.social__item {
		display: inline-block;
		vertical-align: top;
		margin: 0;
	}
	.social__link {
		width: 35px;
		height: 35px;
		display: block;
		background: url(../img/social-icon.png) no-repeat;
		margin-right: 5px;
	}
	.social__link_facebook {
		background-position: 0px 0px;
		&:hover {
			background: url(../img/social-icon-hover.png) no-repeat;
			background-position: 0px 0px;
		}
	}
	.social__link_instagram {
		background-position: -46px 0px;
		&:hover {
			background: url(../img/social-icon-hover.png) no-repeat;
			background-position: -46px 0px;
		}
	}
}
.footer__copyright {
	p {
		font-family: $AGOpusHighResolution-Roman;
		font-size: 15px;
		color: $footer-text;
	}
}