header {
	width: 100%;
	height: 160px;
	background: $header-bg;
}

// logo
.col-logo {
	height: 160px;
	display: flex;
	align-items: center;
}
.logo__link {
	display: block;
}

// phone-search
.col-phone-search {
   padding-left: 100px;
   padding-right: 50px;
}
// phone
.phone {
	margin-top: 50px;
}

.phone__list {
	padding: 0;
	margin: 0;
}
.phone__item {
	display: inline-block;
	vertical-align: bottom;
	&:last-child {
		vertical-align: bottom;
	}
}
.phone__icon {
	display: inline-block;
	vertical-align: top;
	padding: 3px 5px 0px;
}
.phone__link {
	display: block;
	font-family: $PFDinTextPro-Regular;
	color: #fff;
	font-size: 18px;
}
.phone__link_item {
	&::before {
		content: '';
		width: 28px;
		height: 28px;
		display: inline-block;
		vertical-align: bottom;
		background: url(../img/header-icon.png) no-repeat;
		margin-right: 5px;
	}
}
.phone__fa {
	font-size: 5px;
	color: $golden;
	position: relative;
	top: -5px;
}

// search
.search {
	position: relative;
	margin-top: 20px;
}
.search__input {
	width: 100%;
	height: 30px;
	border: 1px solid $golden;
	background: transparent;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.search__btn {
	position: absolute;
	top: 4px;
	right: 6px;
	border: none;
	background: transparent;
}
.search__fa {
	color: $golden;
	font-size: 16px;
}

// language-currency-account

.language-currency-account {
	width: 100%;
	margin-top: 55px;
	padding-left: 55px;
	display: inline-flex;
	align-items: center;
	flex-flow: flex-direction;
	justify-content: space-between;
}
// language
.language__list {
	padding: 0;
	margin: 0;
}
.language__item {
	display: inline-block;
	vertical-align: top;
	border-bottom: 1px solid transparent;
	&:first-child {
		border-right: 1px solid $golden;
		padding-right: 10px;
    	margin-right: 6px;
	}
}
.language__link {
	font-family: $PFDinTextPro-Light;
	color: #fff;
	font-size: 16px;
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;
}
.language__link.active {
	color: $golden;
	border-bottom: 1px solid $golden;
}

// currency
.currency__name {
	display: inline-block;
	vertical-align: top;
	font-family: $PFDinTextPro-Light;
	color: #fff;
	font-size: 16px;
}
.selectric-currency__select {
	display: inline-block;
	vertical-align: top;
	z-index: 9999;
	.selectric {
		background: transparent;
		border: none;
	}
	.selectric .label {
		color: $golden;
		font-size: 18px;
		margin: 0 16px 0 0px;
		padding: 0px 10px 0px;
		font-weight: normal;
		line-height: 25px;
		height: initial;
	}
	.selectric .button {
		width: 40px;
   	height: 25px;
   	color: $golden;
	}
	.selectric .button:after {
		right: -5px;
		border-top-color: $golden;
	}
	.selectric-items {
		width: 90px !important;
		border: none;
		box-shadow: none;
		left: -53px;
		background: #333;

	}
	.selectric-items li {
		background: transparent;
		padding: 3px 0;
		text-align: center;
		font-size: 14px;
		color: #fff;
		&:hover {
			color: #030303;
			background: $golden;
		}
	}
	.selectric-items li.selected {
		color: $golden;
		background: #333;
	}
	.selectric-items .selectric-scroll {
		width: 90px;
	}
}


// account
.account__list {
	padding: 0;
	margin: 0;
}
.account__item {
	display: inline-block;
	vertical-align: top;
	border-bottom: 1px solid transparent;
	&:first-child {
		border-right: 1px solid $golden;
	   padding-right: 20px;
   	margin-right: 14px;

	}
}
.account__link {
	font-family: $PFDinTextPro-Light;
	color: #fff;
	font-size: 16px;
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;
}
.account__link.active {
	color: #CAAD59;
	border-bottom: 1px solid $golden;
}

// shipping-basket
.shipping-basket {
	width: 100%;
	margin-top: 20px;
	padding-left: 55px;
	display: inline-flex;
	align-items: center;
	flex-flow: flex-direction;
	justify-content: space-between;
}

// shipping
.shipping {
	display: flex;
}
.shipping__name {
	display: inline-flex;
	align-items: center;
	font-family: $PFDinTextPro-Light;
	color: #fff;
	font-size: 16px;
	&::before {
		content: '';
		display: inline-block;
		width: 40px;
		height: 30px;
		background: url(../img/header-icon.png) no-repeat;
		background-position: -33px 0px;
		margin-right: 8px;

	}
}
.selectric-shipping__select {
	.selectric {
		border: none;
   	background: transparent;
	}
	.selectric .label {
		margin: 0px 30px 0 14px;
		padding: 7px 0px 0px 0px;
		color: $golden;
		font-size: 16px;
		font-weight: normal;
		height: inherit;
		line-height: normal;
		border-bottom: 1px solid;
		border-radius: 0px;
	}
	.selectric .button:after {
		border-top-color: $golden;
		top: -5px;
	}
	.selectric-items {
		border: none;
		background: #333;
	}
	.selectric-items li {
		padding: 3px 10px;
		text-align: center;
		color: #fff;
		&:hover {
			background: $golden;
			color: #333;
		}
	}
	.selectric-items li.selected {
		background: #333;
		color: $golden;
	}
	.selectric-items .selectric-scroll {
		overflow: overlay;
	}
}

// basket
.basket {
}
.basket__list {
	padding: 0;
	margin: 0;
}
.basket__item {
	font-family: $PFDinTextPro-Light;
	color: #fff;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	&:first-child {
		border-right: 1px solid $golden;
		padding-right: 19px;
		margin-right: 10px;
	}
}
.basket__link {
	color: $golden;
}
