
// banner in main block
.main__banner {
	width: 100%;
	height: auto;
	position: relative;
	border-bottom: 9px solid #fff;
	box-shadow: 0px 1px 0px 0px rgba(207, 171, 84, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	.banner__img {
		width: 100%;
		height: auto;
	}
	.banner__text {
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
		.banner__base {
			display: inline-block;
			background: rgba(255,255,255,0.3);
			padding: 20px 50px;
		}
   	p {
   		margin: 0;
   	}
		p:first-child {
			font-family: $AGOpusHighResolution-Roman;
			font-size: 46px;
			color: #121211;
		}
		p:last-child {
			font-family: $PFDinTextPro-Regular;
			font-size: 30px;
			color: #6b6965;
		}
	}
}

// aside main page
.main__aside {
}
.main-aside_rose {
	position: relative;
	width: 270px;
	height: 410px;
	background: url(../img/main-aside_rose.png) no-repeat;
	background-size: cover;
	float: right;
	.main-aside__capt {
		padding: 40px 0px 26px;
		p {
			font-family: $AGOpusHighResolution-Roman;
			text-transform: uppercase;
			color: #010101;
			margin: 0;
			text-align: center;
			line-height: 40px;
		}
		p:first-child {
			font-size: 55px;
		}
		p:last-child {
			font-size: 24px;
		}
	}
	.main-aside__btn {
		text-align: center;
		button {
			width: 135px;
			height: 35px;
			text-transform: uppercase;
			color: #010101;
			border: none;
			background: $golden;
		}
	}
}
.aside__list {
	padding: 0;
	margin: 0;
	text-align: center;
	margin-top: 30px;
}
.aside__item {
	display: inline-block;
	vertical-align: top;
	&:first-child {
		border-right: 1px solid $golden;
		padding-right: 14px;
		margin-right: 10px;
	}
	&:last-child .aside__link {
		color: $golden;
	}
}
.aside__link {
	font-family: $AGOpusHighResolution-Roman;
	font-size: 14px;
	text-transform: uppercase;
	color: #050505;
}


// counter
.calculator__counter {
  position: relative;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.calculator__counter-btn,
.calculator__counter-input,
.calculator__counter-input input,
.calculator__counter-input span {
	font-family: $AGOpusHighResolution-Roman;
	display: inline-block;
	vertical-align: top;
	border: none;
	background: transparent;
	color: #000000;
   vertical-align: middle;
}
.calculator__counter-btn {
	width: 22px;
	height: 36px;
	background: url(../img/arrow-counter.png) no-repeat;
}
.calculator__counter-minus {
	background-position: 0px 0px;
}
.calculator__counter-plus {
	background-position: -28px 0px;
}
.calculator__counter-input {
	padding: 0 26px;
}
.calculator__counter-input input {
	width: 64px;
	text-align: right;
	font-size: 40px;
}
.calculator__counter-input span {
	font-size: 14px;
   margin-top: 16px;
}

// col-main-slider
.container_main {
	margin: 80px auto;
}
.main-slider__caption {
	text-align: left;
	color: $main-text;
	font-family: $AGOpusHighResolution-Roman;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 80px;
}

// main-aside_bouquets
.main-aside_bouquets {
	position: relative;
	width: 270px;
	height: 410px;
	background: url(../img/main-aside_bouquets.jpg) no-repeat;
	background-size: cover;
	float: right;
	padding: 0px 30px;
	.main-aside__capt {
		padding: 180px 0px 20px;
		p {
			font-family: $AGOpusHighResolution-Roman;
			text-transform: uppercase;
			color: #010101;
			margin: 0;
			text-align: left;
			line-height: 40px;
		}
		p:first-child {
			font-size: 50px;
			margin-bottom: 20px;
		}
		p:last-child {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.main-aside__btn {
		text-align: left;
		button {
			width: 135px;
			height: 35px;
			text-transform: uppercase;
			color: #010101;
			border: none;
			background: $golden;
		}
	}
}

// slider main
main {
	.main-slider_sale,
	.main-slider_hit,
	.main-slider_new {
		width: 100%;
		height: 400px;
		position: relative;
		text-align: center;
	}
	.slider__figure {
		position: relative;
	}
	.slider__image {
		width: 100%;
		height: 280px;
	}
	.slider__img {
		max-width: 100%;
		max-height: 90%;
		margin-top: 14px;
		padding: 40px 0px 0px 0px;
		margin: 0 auto;
	}

	.slider__text {
		p {
			font-family: $AGOpusHighResolution-Roman;
		}
	}
	.slider__name {
		color: #6b6965;
		font-size: 16px;
		text-transform: uppercase;
	}
	.slider__prise {
		color: $golden;
		font-size: 16px;
	}
	.slider__buy {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			vertical-align: top;
			&:first-child {
				border-right: 1px solid $golden;
				padding-right: 14px;
				margin-right: 10px;
			}
			a {
				text-transform: uppercase;
			}
		}
		li:first-child a {
			color: #121211;
		}
		li:last-child a {
			color: $golden;
		}
	}

	.slider__icon {
		width: 47px;
		height: 47px;
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 10;
	}
	.slider__icon_sale {
		background: url(../img/%.png) no-repeat;
	}
	.slider__icon_hit {
		background: url(../img/hit.png) no-repeat;
	}
	.slider__icon_new {
		background: url(../img/new.png) no-repeat;
	}
}

// slider bar

.box-slider {
  width: 100%;
  position: relative;
  margin-top: 50px;
  .ui-widget-header {
    background: $golden;
    border-radius: 0px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -3px;
      width: 2px;
      height: 8px;
      background: $golden;
    }
  }
  .ui-widget-content {
    border: none;
    background: #010101;
    border-radius: 0px;
    height: 2px;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: -3px;
      width: 2px;
      height: 8px;
      background: #010101;
    }
  }
  .ui-state-default, 
  .ui-widget-content .ui-state-default, 
  .ui-widget-header .ui-state-default {
    width: 24px;
    height: 10px;
    background: $golden;
    border: none;
    border-radius: 0px;
  }
}

.items__box {
  .item {
	width: 250px;
	float: left;
	margin: 0px 20px 35px 20px;
	padding-top: 1px;
  }
}

/*My CSS*/
$grey: #6B6965;
$light-grey: #F4F3F3;

h1 {
    font-family: $AGOpusHighResolution-Roman;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px !important;
}
h2 {
    font-family: $AGOpusHighResolution-Roman;
    font-weight: bold;
    font-size: 14px;
}
p {
    font-family: $AGOpusHighResolution-Roman;
    font: sans-serif; 
    font-size: 14px;
    color: $grey;
}

    .product-unit {
        width: 100%;
        min-height: 210px;
        border-bottom: 1px solid $golden;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    
        .product-pic { 
            margin: auto;
            img {
                max-width: 160px;
                max-height: 160px;
            }
        }
   
        .product-name, .product-about {
            margin: auto;
        }
    
        .product-price {
            color: $golden;
            margin: auto;
        }
        .close-btn {
            width : 40px;
            height: 40px;
            background-color: $golden;
            opacity: 1;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .product-postcard {
        
            img {
                max-width: 90px;
                max-height: 120px;
                margin: auto;
            }
        }
        .form-group {
            max-height: 60px;
            max-width: 300px;
            .form-control {
                    border-radius: 0;
                    height: 60px;
                    margin: auto;
                }
            label {
                margin: auto;
            }
            a {
                color: $golden;
                text-decoration: underline;
            }
        }
    }
.product-unit:first-child {
    border-top: 1px solid $golden;
}

.related-products {
    .related-header {
        min-height: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: unset;
        color: $grey;
        h1 {
           align-self: center;
        }
    }
    .related-table {
        display: table;
        div {
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .related-item {
                height: 50px;
                width: 100%;
                text-transform: uppercase;
                margin: auto;
                background-color: #ffffff;
                padding: 0px;
                border: 1px solid $light-grey/1.5;
            }
            .related-item:hover {
                background-color: $light-grey;
            }
        }
    }

}
.main-banner-1, .main-banner-2 {
    min-width: 270px;
    min-height: 410px;
    background-size: cover;
    margin-bottom: 50px;
    text-transform: uppercase;
    .banner-content {
        padding-left: 50px;
        padding-top: 10px;
        h1 {
            font-size: 3em !important;
        }
        h2 {
            font-size: 1.3em;
        }
    }
}
.main-banner-1 {
    background-image: url("../img/main-aside_rose.png");
}
.main-banner-2 {
    background-image: url("../img/main-aside_bouquets.jpg");
    padding-top: 150px;
    button {
        font-family: $AGOpusHighResolution-Roman;
        text-transform: uppercase;
        background-color: $golden;
        width: 115px;
        height: 35px;
        border: none;
        margin-left: 50px;
    }
}