@mixin border-radius($radius) {
  border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
// @include border-radius(5px);

@mixin transition($property, $duration, $timing){
  -webkit-transition: $property $duration+s $timing;
     -moz-transition: $property $duration+s $timing;
      -ms-transition: $property $duration+s $timing;
       -o-transition: $property $duration+s $timing;
          transition: $property $duration+s $timing;
}
// @include transition( all, 0.3, linear);


@mixin scale($scale) {
  transform: scale($scale);
  -o-transform: scale($scale);
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
}
// @include scale(1);

@mixin transform($deg) {
  transform: rotate($deg+deg);
  -o-transform: rotate($deg+deg);
  -ms-transform: rotate($deg+deg);
  -moz-transform: rotate($deg+deg);
  -webkit-transform: rotate($deg+deg);
}
// @include transform(0);

@mixin perspective($perspective) {
  perspective: $perspective+px;
  -o-perspective: $perspective+px;
  -ms-perspective: $perspective+px;
  -moz-perspective: $perspective+px;
  -webkit-perspective: $perspective+px;
}
// @include perspective(0);

@mixin background-size($background-size) {
	-webkit-background-size: $background-size;
	-moz-background-size: $background-size;
	background-size: $background-size;
}
// @include background-size(cover);

@mixin opacity($opacity){
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
}
// @include opacity(.5);

@mixin filter($filter){
	-webkit-filter: opacity($filter);
   -moz-filter: opacity($filter);
   -ms-filter: opacity($filter);
   -o-filter: opacity($filter);
   filter: opacity($filter);
}
// @include filter(50%);

@mixin animation($animation){
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}
// @include animation(first 4s 0s infinite alternate);

@mixin position-center {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
// @include position-center;

$header-bg: #231F20;
$nav-bg: #CAAD59;
$footer-bg: #CAAD59;

$nav-text: #030303;
$price-text: #050505;

$background: #ffffff;

$golden: #CAAD59;
$silver: #bebcbc;

$footer-text: #363535;
$main-text: #6b6965;

$PFDinTextPro-Light: 'PFDinTextPro-Light', Arial, "Helvetica Neue", Helvetica, sans-serif;
$PFDinTextPro-Regular:  'PFDinTextPro-Regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
$AGOpusHighResolution-Roman:  'AGOpusHighResolution-Roman', Arial, "Helvetica Neue", Helvetica, sans-serif;
