nav {
	width: 100%;
	height: 50px;
	background: $nav-bg;
}
.nav__list {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
}
.nav__item {
	vertical-align: middle;
	text-align: center;
	&:first-child {
		text-align: left;
	}
	&:last-child {
		text-align: right;
	}
}
.nav__link {
	font-family: $PFDinTextPro-Regular;
	text-transform: uppercase;
	color: $nav-text;
	line-height: 50px;
	text-shadow: 0px 0px 0px black, 0 0 0px black;
	&:hover {
	}
}
.m-nav__btn {
	display: none;
}

.breadcrumb {
  background-color: #fff;
  padding: 36px 0px 28px 0px;
  color: $main-text;
  font-size: 14px;
  margin-bottom: 0px;
}

.breadcrumb a{
  font-size: 14px;
  color: $main-text;
}

.breadcrumb a:hover{
  text-decoration: underline;
}

.breadcrumb span{
  color: #020202;
}