.single-product {
  font-family: $AGOpusHighResolution-Roman;
}

.single-product .img-thumbnail {
  border: none;
  margin-top: 45px;
}

.single-product h1{
  margin-top: 0px;
  font-size: 24px;
  margin-bottom: 3px;
}

.single-product span.article{
  font-size: 17px;
  font-style: italic;
}

.single-product .control-dot{
  width: 100%;
  height: 4px;
  display: block;
  background: url(../img/dot.jpg) bottom center repeat-x;
  position: relative;
  top: 15px;
}

.single-product .prices-block{
  margin-top: 30px;
}

.single-product .prices-block .custom-radio{
  width: 20px;
  height: 20px;
  margin: 3px 12px 0px 0px;
}

.single-product .prices-block .price-label{
  min-height: 27px;
  width: 100%;
  line-height: 9px;
  margin-bottom: 0px;
}

.single-product .prices-block .price-container .price-left {
  background: $background;
  float: left;
  z-index: 10;
  position: relative;
}

.single-product .prices-block .price-container .price-right {
  float: right;
  background: $background;
  z-index: 10;
  position: relative;
  height: 22px;
}

.single-product .prices-block .price-container .price-right.editable{
  padding-right: 44px;
  padding-left: 5px;
}

.single-product .prices-block .price-container .price-right.editable .price{
  top: 0px;
}

.single-product .prices-block .price-label .price-name{
  font-weight: normal;
  letter-spacing: 1px;
  color: $price-text;
  padding-right: 5px;
  position: relative;
  top: -3px;
  left: -8px;
}

.single-product .prices-block .price-container .price-right input[type="text"] {
  border: none;
  width: 65px;
  font-size: 20px;
  color: $silver;
  display: inline;
}


.single-product .prices-block .price {
  font-weight: normal;
  font-family: $PFDinTextPro-Light;
  font-size: 20px;
  color: $golden;
  margin-left: 2px;
  padding-right: 44px;
  position: relative;
  top: 8px;
}


#bracket_left{
  border-top: 1px solid $silver;
  border-left: 1px solid $silver;
  border-bottom: 1px solid $silver;
  width: 8px;
  height: 25px;
  float: left;
}

#bracket_right{
  border-top: 1px solid $silver;
  border-right: 1px solid $silver;
  border-bottom: 1px solid $silver;
  width: 8px;
  height: 25px;
  float: right;
}

#bracket_left ~ span.price{
  padding-right: 0px;
}