article {

}
.slider-top {
	width: 100%;

	.slider__item {
		position: relative;
	}
	.slider__img {
		width: 100%;
		height: auto;
	}
	.slider__base {
		position: absolute;
		top: 0;
		left: 0;
	}
	.slider__text {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		font-family: $AGOpusHighResolution-Roman;
		font-size: 47px;
		color: #fff;
		line-height: 55px;
		text-shadow: 0px 0px 14px rgba(255,255,255,1);
	}
}
