@font-face {
  font-family: 'PFDinTextPro-Light';
  src: url("../font/PFDinTextPro-Light/PFDinTextPro-Light.eot");
  src: url("../font/PFDinTextPro-Light/PFDinTextPro-Light.woff2") format("woff2"), url("../font/PFDinTextPro-Light/PFDinTextPro-Light.woff") format("woff"), url("../font/PFDinTextPro-Light/PFDinTextPro-Light.ttf") format("truetype"), url("../font/PFDinTextPro-Light/PFDinTextPro-Light.svg#PFDinTextPro-Light") format("svg"), url("../font/PFDinTextPro-Light/PFDinTextPro-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PFDinTextPro-Regular';
  src: url("../font/PFDinTextPro-Regular/PFDinTextPro-Regular.eot");
  src: url("../font/PFDinTextPro-Regular/PFDinTextPro-Regular.woff2") format("woff2"), url("../font/PFDinTextPro-Regular/PFDinTextPro-Regular.woff") format("woff"), url("../font/PFDinTextPro-Regular/PFDinTextPro-Regular.ttf") format("truetype"), url("../font/PFDinTextPro-Regular/PFDinTextPro-Regular.svg#PFDinTextPro-Regular") format("svg"), url("../font/PFDinTextPro-Regular/PFDinTextPro-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AGOpusHighResolution-Roman';
  src: url("../font/AGOpusHighResolution-Roman/AGOpusHighResolution-Roman.eot");
  src: url("../font/AGOpusHighResolution-Roman/AGOpusHighResolution-Roman.woff2") format("woff2"), url("../font/AGOpusHighResolution-Roman/AGOpusHighResolution-Roman.woff") format("woff"), url("../font/AGOpusHighResolution-Roman/AGOpusHighResolution-Roman.ttf") format("truetype"), url("../font/AGOpusHighResolution-Roman/AGOpusHighResolution-Roman.svg#AGOpusHighResolution-Roman") format("svg"), url("../font/AGOpusHighResolution-Roman/AGOpusHighResolution-Roman.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=font.css.map */
