@charset "UTF-8";
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .col-phone-search {
    padding-left: 7%;
    padding-right: 0px; }

  .main-aside_rose,
  .main-aside_bouquets {
    width: 100%; } }
@media only screen and (max-width: 992px) and (min-width: 769px) {
  .container {
    width: 100%; }

  .col-phone-search {
    padding-left: 7%;
    padding-right: 0px; }

  .main-aside_rose,
  .main-aside_bouquets {
    width: 100%; }

  .main-aside_rose .main-aside__capt p:first-child,
  .main-aside_rose .main-aside__capt p:last-child {
    font-size: 3.5vw; }

  .main-aside_bouquets .main-aside__capt p:first-child {
    font-size: 4vw; }

  .main-aside_bouquets .main-aside__capt p:last-child {
    font-size: 1.9vw;
    line-height: 3vw; }

  .calculator__counter-input {
    padding: 2%; }

  .phone__link,
  .language__link,
  .currency__name,
  .account__link,
  .shipping__name,
  .basket__item,
  .selectric-shipping__select .selectric .label {
    font-size: 1.7vw; }

  .currency__name {
    vertical-align: bottom; }

  .language-currency-account,
  .shipping-basket {
    padding-left: 2%; }

  .main__banner .banner__text p:first-child {
    font-size: 4vw; }

  .main__banner .banner__text p:last-child {
    font-size: 3vw; }

  .phone__fa {
    top: -3px; } }
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .slider-top {
    display: none; }

  .container {
    position: relative; }

  .container_nav {
    z-index: 999; }

  nav {
    height: 43px; }

  .nav__list {
    display: none; }

  .m-nav__btn {
    display: block;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 2%;
    cursor: pointer;
    z-index: 1; }

  .m-nav__btn span {
    width: inherit;
    height: 3px;
    background-color: #231F20;
    font-size: 0;
    position: absolute;
    -webkit-transition: background-color .3 ease;
    transition: background-color .3 ease; }

  .m-nav__btn span:before,
  .m-nav__btn span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #231F20;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }

  .m-nav__btn span:before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px); }

  .m-nav__btn span:after {
    -webkit-transform: translateY(7px);
    transform: translateY(7px); }

  /*тХитЦУтХитХЫтХитХЧтХд╨?тХитХбтХитЦТтХд╨СтХд╨ТтХитЦУтХитХЫ*/
  .m-nav__btn-open span {
    background-color: transparent; }

  .m-nav__btn-open span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg); }

  .m-nav__btn-open span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg); }

  /**/
  .nav__item:first-child,
  .nav__item:last-child {
    text-align: center; }

  .m-nav__btn-open + .nav__list {
    display: block;
    background: #CAAD59;
    margin-top: 30px; }

  header {
    height: initial; }

  .col-logo {
    padding-left: 5%; }

  .phone {
    text-align: right; }

  .col-phone-search {
    padding-right: 5%;
    padding-left: 10%; }

  .language-currency-account,
  .shipping-basket {
    padding-right: 5%;
    padding-left: 5%; }

  .shipping-basket {
    justify-content: space-around; }

  .phone__link {
    font-size: 2.6vw; }

  .language-currency-account,
  .shipping-basket {
    margin-top: 0px;
    justify-content: center; }

  .language {
    margin-right: 5%; }

  .currency {
    margin-right: 5%; }

  .shipping {
    margin-right: 5%; }

  .shipping-basket {
    margin-top: 2%;
    margin-bottom: 4%; }

  .slider-top .slider__text {
    font-size: 5vw; }

  .slider__image {
    min-height: 230px; }

  .slider__img {
    max-width: 75%;
    max-height: 75%; }

  .box-slider {
    margin-top: 5%; }

  aside {
    display: none; }

  .container_main {
    margin-top: 5%; }

  .main-slider__caption {
    text-align: center;
    padding-bottom: 5%; }

  .box-slider {
    padding-right: 5%;
    padding-left: 5%; }

  .main__banner .banner__text p:first-child {
    font-size: 4vw; }

  .main__banner .banner__text p:last-child {
    font-size: 2.5vw; }

  footer .footer__info {
    padding-right: 5%;
    padding-left: 5%; }
  footer li {
    text-align: left; }

  .footer__copyright p {
    text-align: center; } }
@media only screen and (max-width: 600px) and (min-width: 320px) {
  footer {
    height: initial; }
    footer .footer__info {
      display: block; }
    footer .ul {
      text-align: center;
      margin-bottom: 5%; }
      footer .ul li {
        text-align: center; }

  .phone__fa {
    top: -2px; } }
@media only screen and (max-width: 500px) and (min-width: 320px) {
  header .col {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%; }

  .col-logo {
    margin-top: 5%;
    height: inherit;
    justify-content: center; }

  .phone {
    margin-top: 5%;
    text-align: center; }

  .phone__link {
    font-size: 3.5vw; }

  .search {
    margin-top: 3%;
    margin-bottom: 5%; }

  .language__link,
  .currency__name,
  .account__link,
  .shipping__name,
  .basket__item,
  .selectric-shipping__select .selectric .label {
    font-size: 3.4vw; }

  .main-slider__caption {
    padding-bottom: 5%; }

  .main__banner {
    display: none; }

  footer {
    height: initial; }
    footer .footer__info {
      display: block; }
    footer .ul {
      text-align: center;
      margin-bottom: 5%; }
      footer .ul li {
        text-align: center; }
    footer li,
    footer .social__list {
      text-align: center; } }
@media only screen and (max-width: 430px) and (min-width: 320px) {
  .col-logo {
    margin-top: 7%; }

  .phone__link_item::before {
    display: none; }

  .phone__link {
    font-size: 5vw; }

  .shipping__name::before {
    display: none; }

  .currency__name {
    display: none; }

  .selectric-shipping__select .selectric .label {
    padding-top: 0px; }

  .shipping-basket .selectric .button {
    top: -8px; }

  footer {
    height: initial; }
    footer .footer__info {
      display: block; }
    footer .ul {
      text-align: center;
      margin-bottom: 5%; }
      footer .ul li {
        text-align: center; }
    footer li,
    footer .social__list {
      text-align: center; }

  .phone__fa {
    top: -3px; } }
@media only screen and (max-width: 430px) and (min-width: 350px) {
  .phone__fa {
    top: -5px; } }

/*# sourceMappingURL=media.css.map */
