*:active, *:focus, *:visited {
  text-decoration: none !important;
  outline: none !important; }

body {
  font-family: "PFDinTextPro-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.wrap {
  min-width: 320px; }

.col {
  padding: 0;
  margin: 0;
  position: relative; }

.container {
  position: relative; }

header {
  width: 100%;
  height: 160px;
  background: #231F20; }

.col-logo {
  height: 160px;
  display: flex;
  align-items: center; }

.logo__link {
  display: block; }

.col-phone-search {
  padding-left: 100px;
  padding-right: 50px; }

.phone {
  margin-top: 50px; }

.phone__list {
  padding: 0;
  margin: 0; }

.phone__item {
  display: inline-block;
  vertical-align: bottom; }
  .phone__item:last-child {
    vertical-align: bottom; }

.phone__icon {
  display: inline-block;
  vertical-align: top;
  padding: 3px 5px 0px; }

.phone__link {
  display: block;
  font-family: "PFDinTextPro-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px; }

.phone__link_item::before {
  content: '';
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: bottom;
  background: url(../img/header-icon.png) no-repeat;
  margin-right: 5px; }

.phone__fa {
  font-size: 5px;
  color: #CAAD59;
  position: relative;
  top: -5px; }

.search {
  position: relative;
  margin-top: 20px; }

.search__input {
  width: 100%;
  height: 30px;
  border: 1px solid #CAAD59;
  background: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.search__btn {
  position: absolute;
  top: 4px;
  right: 6px;
  border: none;
  background: transparent; }

.search__fa {
  color: #CAAD59;
  font-size: 16px; }

.language-currency-account {
  width: 100%;
  margin-top: 55px;
  padding-left: 55px;
  display: inline-flex;
  align-items: center;
  flex-flow: flex-direction;
  justify-content: space-between; }

.language__list {
  padding: 0;
  margin: 0; }

.language__item {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid transparent; }
  .language__item:first-child {
    border-right: 1px solid #CAAD59;
    padding-right: 10px;
    margin-right: 6px; }

.language__link {
  font-family: "PFDinTextPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px; }

.language__link.active {
  color: #CAAD59;
  border-bottom: 1px solid #CAAD59; }

.currency__name {
  display: inline-block;
  vertical-align: top;
  font-family: "PFDinTextPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px; }

.selectric-currency__select {
  display: inline-block;
  vertical-align: top;
  z-index: 9999; }
  .selectric-currency__select .selectric {
    background: transparent;
    border: none; }
  .selectric-currency__select .selectric .label {
    color: #CAAD59;
    font-size: 18px;
    margin: 0 16px 0 0px;
    padding: 0px 10px 0px;
    font-weight: normal;
    line-height: 25px;
    height: initial; }
  .selectric-currency__select .selectric .button {
    width: 40px;
    height: 25px;
    color: #CAAD59; }
  .selectric-currency__select .selectric .button:after {
    right: -5px;
    border-top-color: #CAAD59; }
  .selectric-currency__select .selectric-items {
    width: 90px !important;
    border: none;
    box-shadow: none;
    left: -53px;
    background: #333; }
  .selectric-currency__select .selectric-items li {
    background: transparent;
    padding: 3px 0;
    text-align: center;
    font-size: 14px;
    color: #fff; }
    .selectric-currency__select .selectric-items li:hover {
      color: #030303;
      background: #CAAD59; }
  .selectric-currency__select .selectric-items li.selected {
    color: #CAAD59;
    background: #333; }
  .selectric-currency__select .selectric-items .selectric-scroll {
    width: 90px; }

.account__list {
  padding: 0;
  margin: 0; }

.account__item {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid transparent; }
  .account__item:first-child {
    border-right: 1px solid #CAAD59;
    padding-right: 20px;
    margin-right: 14px; }

.account__link {
  font-family: "PFDinTextPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px; }

.account__link.active {
  color: #CAAD59;
  border-bottom: 1px solid #CAAD59; }

.shipping-basket {
  width: 100%;
  margin-top: 20px;
  padding-left: 55px;
  display: inline-flex;
  align-items: center;
  flex-flow: flex-direction;
  justify-content: space-between; }

.shipping {
  display: flex; }

.shipping__name {
  display: inline-flex;
  align-items: center;
  font-family: "PFDinTextPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px; }
  .shipping__name::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 30px;
    background: url(../img/header-icon.png) no-repeat;
    background-position: -33px 0px;
    margin-right: 8px; }

.selectric-shipping__select .selectric {
  border: none;
  background: transparent; }
.selectric-shipping__select .selectric .label {
  margin: 0px 30px 0 14px;
  padding: 7px 0px 0px 0px;
  color: #CAAD59;
  font-size: 16px;
  font-weight: normal;
  height: inherit;
  line-height: normal;
  border-bottom: 1px solid;
  border-radius: 0px; }
.selectric-shipping__select .selectric .button:after {
  border-top-color: #CAAD59;
  top: -5px; }
.selectric-shipping__select .selectric-items {
  border: none;
  background: #333; }
.selectric-shipping__select .selectric-items li {
  padding: 3px 10px;
  text-align: center;
  color: #fff; }
  .selectric-shipping__select .selectric-items li:hover {
    background: #CAAD59;
    color: #333; }
.selectric-shipping__select .selectric-items li.selected {
  background: #333;
  color: #CAAD59; }
.selectric-shipping__select .selectric-items .selectric-scroll {
  overflow: overlay; }

.basket__list {
  padding: 0;
  margin: 0; }

.basket__item {
  font-family: "PFDinTextPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  vertical-align: top; }
  .basket__item:first-child {
    border-right: 1px solid #CAAD59;
    padding-right: 19px;
    margin-right: 10px; }

.basket__link {
  color: #CAAD59; }

nav {
  width: 100%;
  height: 50px;
  background: #CAAD59; }

.nav__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-between; }

.nav__item {
  vertical-align: middle;
  text-align: center; }
  .nav__item:first-child {
    text-align: left; }
  .nav__item:last-child {
    text-align: right; }

.nav__link {
  font-family: "PFDinTextPro-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  color: #030303;
  line-height: 50px;
  text-shadow: 0px 0px 0px black, 0 0 0px black; }

.m-nav__btn {
  display: none; }

.breadcrumb {
  background-color: #fff;
  padding: 36px 0px 28px 0px;
  color: #6b6965;
  font-size: 14px;
  margin-bottom: 0px; }

.breadcrumb a {
  font-size: 14px;
  color: #6b6965; }

.breadcrumb a:hover {
  text-decoration: underline; }

.breadcrumb span {
  color: #020202; }

.slider-top {
  width: 100%; }
  .slider-top .slider__item {
    position: relative; }
  .slider-top .slider__img {
    width: 100%;
    height: auto; }
  .slider-top .slider__base {
    position: absolute;
    top: 0;
    left: 0; }
  .slider-top .slider__text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 47px;
    color: #fff;
    line-height: 55px;
    text-shadow: 0px 0px 14px white; }

.main__banner {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 9px solid #fff;
  box-shadow: 0px 1px 0px 0px #cfab54;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .main__banner .banner__img {
    width: 100%;
    height: auto; }
  .main__banner .banner__text {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .main__banner .banner__text .banner__base {
      display: inline-block;
      background: rgba(255, 255, 255, 0.3);
      padding: 20px 50px; }
    .main__banner .banner__text p {
      margin: 0; }
    .main__banner .banner__text p:first-child {
      font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 46px;
      color: #121211; }
    .main__banner .banner__text p:last-child {
      font-family: "PFDinTextPro-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 30px;
      color: #6b6965; }

.main-aside_rose {
  position: relative;
  width: 270px;
  height: 410px;
  background: url(../img/main-aside_rose.png) no-repeat;
  background-size: cover;
  float: right; }
  .main-aside_rose .main-aside__capt {
    padding: 40px 0px 26px; }
    .main-aside_rose .main-aside__capt p {
      font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: uppercase;
      color: #010101;
      margin: 0;
      text-align: center;
      line-height: 40px; }
    .main-aside_rose .main-aside__capt p:first-child {
      font-size: 55px; }
    .main-aside_rose .main-aside__capt p:last-child {
      font-size: 24px; }
  .main-aside_rose .main-aside__btn {
    text-align: center; }
    .main-aside_rose .main-aside__btn button {
      width: 135px;
      height: 35px;
      text-transform: uppercase;
      color: #010101;
      border: none;
      background: #CAAD59; }

.aside__list {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 30px; }

.aside__item {
  display: inline-block;
  vertical-align: top; }
  .aside__item:first-child {
    border-right: 1px solid #CAAD59;
    padding-right: 14px;
    margin-right: 10px; }
  .aside__item:last-child .aside__link {
    color: #CAAD59; }

.aside__link {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #050505; }

.calculator__counter {
  position: relative;
  width: 100%;
  margin-top: 50px;
  text-align: center; }

.calculator__counter-btn,
.calculator__counter-input,
.calculator__counter-input input,
.calculator__counter-input span {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  vertical-align: top;
  border: none;
  background: transparent;
  color: #000000;
  vertical-align: middle; }

.calculator__counter-btn {
  width: 22px;
  height: 36px;
  background: url(../img/arrow-counter.png) no-repeat; }

.calculator__counter-minus {
  background-position: 0px 0px; }

.calculator__counter-plus {
  background-position: -28px 0px; }

.calculator__counter-input {
  padding: 0 26px; }

.calculator__counter-input input {
  width: 64px;
  text-align: right;
  font-size: 40px; }

.calculator__counter-input span {
  font-size: 14px;
  margin-top: 16px; }

.container_main {
  margin: 80px auto; }

.main-slider__caption {
  text-align: left;
  color: #6b6965;
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 80px; }

.main-aside_bouquets {
  position: relative;
  width: 270px;
  height: 410px;
  background: url(../img/main-aside_bouquets.jpg) no-repeat;
  background-size: cover;
  float: right;
  padding: 0px 30px; }
  .main-aside_bouquets .main-aside__capt {
    padding: 180px 0px 20px; }
    .main-aside_bouquets .main-aside__capt p {
      font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-transform: uppercase;
      color: #010101;
      margin: 0;
      text-align: left;
      line-height: 40px; }
    .main-aside_bouquets .main-aside__capt p:first-child {
      font-size: 50px;
      margin-bottom: 20px; }
    .main-aside_bouquets .main-aside__capt p:last-child {
      font-size: 18px;
      line-height: 24px; }
  .main-aside_bouquets .main-aside__btn {
    text-align: left; }
    .main-aside_bouquets .main-aside__btn button {
      width: 135px;
      height: 35px;
      text-transform: uppercase;
      color: #010101;
      border: none;
      background: #CAAD59; }

main .main-slider_sale,
main .main-slider_hit,
main .main-slider_new {
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center; }
main .slider__figure {
  position: relative; }
main .slider__image {
  width: 100%;
  height: 280px; }
main .slider__img {
  max-width: 100%;
  max-height: 90%;
  margin-top: 14px;
  padding: 40px 0px 0px 0px;
  margin: 0 auto; }
main .slider__text p {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif; }
main .slider__name {
  color: #6b6965;
  font-size: 16px;
  text-transform: uppercase; }
main .slider__prise {
  color: #CAAD59;
  font-size: 16px; }
main .slider__buy {
  margin: 0;
  padding: 0; }
  main .slider__buy li {
    display: inline-block;
    vertical-align: top; }
    main .slider__buy li:first-child {
      border-right: 1px solid #CAAD59;
      padding-right: 14px;
      margin-right: 10px; }
    main .slider__buy li a {
      text-transform: uppercase; }
  main .slider__buy li:first-child a {
    color: #121211; }
  main .slider__buy li:last-child a {
    color: #CAAD59; }
main .slider__icon {
  width: 47px;
  height: 47px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10; }
main .slider__icon_sale {
  background: url(../img/%.png) no-repeat; }
main .slider__icon_hit {
  background: url(../img/hit.png) no-repeat; }
main .slider__icon_new {
  background: url(../img/new.png) no-repeat; }

.box-slider {
  width: 100%;
  position: relative;
  margin-top: 50px; }
  .box-slider .ui-widget-header {
    background: #CAAD59;
    border-radius: 0px; }
    .box-slider .ui-widget-header:before {
      content: '';
      position: absolute;
      left: 0;
      top: -3px;
      width: 2px;
      height: 8px;
      background: #CAAD59; }
  .box-slider .ui-widget-content {
    border: none;
    background: #010101;
    border-radius: 0px;
    height: 2px; }
    .box-slider .ui-widget-content:after {
      content: '';
      position: absolute;
      right: 0;
      top: -3px;
      width: 2px;
      height: 8px;
      background: #010101; }
  .box-slider .ui-state-default,
  .box-slider .ui-widget-content .ui-state-default,
  .box-slider .ui-widget-header .ui-state-default {
    width: 24px;
    height: 10px;
    background: #CAAD59;
    border: none;
    border-radius: 0px; }

.items__box .item {
  width: 250px;
  float: left;
  margin: 0px 20px 35px 20px;
  padding-top: 1px; }

/*My CSS*/
h1 {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px !important; }

h2 {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px; }

p {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font: sans-serif;
  font-size: 14px;
  color: #6B6965; }

.product-unit {
  width: 100%;
  min-height: 210px;
  border-bottom: 1px solid #CAAD59;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .product-unit .product-pic {
    margin: auto; }
    .product-unit .product-pic img {
      max-width: 160px;
      max-height: 160px; }
  .product-unit .product-name, .product-unit .product-about {
    margin: auto; }
  .product-unit .product-price {
    color: #CAAD59;
    margin: auto; }
  .product-unit .close-btn {
    width: 40px;
    height: 40px;
    background-color: #CAAD59;
    opacity: 1;
    position: absolute;
    top: 0px;
    right: 0px; }
  .product-unit .product-postcard img {
    max-width: 90px;
    max-height: 120px;
    margin: auto; }
  .product-unit .form-group {
    max-height: 60px;
    max-width: 300px; }
    .product-unit .form-group .form-control {
      border-radius: 0;
      height: 60px;
      margin: auto; }
    .product-unit .form-group label {
      margin: auto; }
    .product-unit .form-group a {
      color: #CAAD59;
      text-decoration: underline; }

.product-unit:first-child {
  border-top: 1px solid #CAAD59; }

.related-products .related-header {
  min-height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: unset;
  color: #6B6965; }
  .related-products .related-header h1 {
    align-self: center; }
.related-products .related-table {
  display: table; }
  .related-products .related-table div {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .related-products .related-table div .related-item {
      height: 50px;
      width: 100%;
      text-transform: uppercase;
      margin: auto;
      background-color: #ffffff;
      padding: 0px;
      border: 1px solid #a2a2a2; }
    .related-products .related-table div .related-item:hover {
      background-color: #F4F3F3; }

.main-banner-1, .main-banner-2 {
  min-width: 270px;
  min-height: 410px;
  background-size: cover;
  margin-bottom: 50px;
  text-transform: uppercase; }
  .main-banner-1 .banner-content, .main-banner-2 .banner-content {
    padding-left: 50px;
    padding-top: 10px; }
    .main-banner-1 .banner-content h1, .main-banner-2 .banner-content h1 {
      font-size: 3em !important; }
    .main-banner-1 .banner-content h2, .main-banner-2 .banner-content h2 {
      font-size: 1.3em; }

.main-banner-1 {
  background-image: url("../img/main-aside_rose.png"); }

.main-banner-2 {
  background-image: url("../img/main-aside_bouquets.jpg");
  padding-top: 150px; }
  .main-banner-2 button {
    font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #CAAD59;
    width: 115px;
    height: 35px;
    border: none;
    margin-left: 50px; }

footer {
  width: 100%;
  height: 280px;
  background: linear-gradient(176deg, #caad59, #a08a46);
  background-size: 400% 400%;
  -webkit-animation: footer-bg 10s ease infinite;
  -moz-animation: footer-bg 10s ease infinite;
  animation: footer-bg 10s ease infinite; }
@-webkit-keyframes footer-bg {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 51% 100%; }
  100% {
    background-position: 50% 0%; } }
@-moz-keyframes footer-bg {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 51% 100%; }
  100% {
    background-position: 50% 0%; } }
@keyframes footer-bg {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 51% 100%; }
  100% {
    background-position: 50% 0%; } }
.footer__info {
  margin: 40px 0 20px;
  width: 100%;
  display: inline-flex;
  align-items: top;
  flex-flow: flex-direction;
  justify-content: space-between; }
  .footer__info .about__list,
  .footer__info .ship__list,
  .footer__info .phone__list,
  .footer__info .time__list,
  .footer__info .social__list {
    padding: 0;
    margin: 0; }
  .footer__info .about__item,
  .footer__info .ship__item,
  .footer__info .phone__item,
  .footer__info .time__item,
  .footer__info .social__item {
    list-style-type: none;
    font-family: "PFDinTextPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px; }
  .footer__info .about__item,
  .footer__info .ship__item,
  .footer__info .phone__item,
  .footer__info .time__item {
    font-family: "PFDinTextPro-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #040404;
    margin: 4px 0px; }
  .footer__info .about__link,
  .footer__info .ship__link,
  .footer__info .phone__link,
  .footer__info .time__link,
  .footer__info .social__link {
    color: #363535; }
  .footer__info .phone {
    margin: 0; }
  .footer__info .phone__item {
    display: block; }
  .footer__info .phone__link {
    font-size: 15px;
    color: #363535; }
  .footer__info .social__item {
    display: inline-block;
    vertical-align: top;
    margin: 0; }
  .footer__info .social__link {
    width: 35px;
    height: 35px;
    display: block;
    background: url(../img/social-icon.png) no-repeat;
    margin-right: 5px; }
  .footer__info .social__link_facebook {
    background-position: 0px 0px; }
    .footer__info .social__link_facebook:hover {
      background: url(../img/social-icon-hover.png) no-repeat;
      background-position: 0px 0px; }
  .footer__info .social__link_instagram {
    background-position: -46px 0px; }
    .footer__info .social__link_instagram:hover {
      background: url(../img/social-icon-hover.png) no-repeat;
      background-position: -46px 0px; }

.footer__copyright p {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  color: #363535; }

.single-product {
  font-family: "AGOpusHighResolution-Roman", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.single-product .img-thumbnail {
  border: none;
  margin-top: 45px; }

.single-product h1 {
  margin-top: 0px;
  font-size: 24px;
  margin-bottom: 3px; }

.single-product span.article {
  font-size: 17px;
  font-style: italic; }

.single-product .control-dot {
  width: 100%;
  height: 4px;
  display: block;
  background: url(../img/dot.jpg) bottom center repeat-x;
  position: relative;
  top: 15px; }

.single-product .prices-block {
  margin-top: 30px; }

.single-product .prices-block .custom-radio {
  width: 20px;
  height: 20px;
  margin: 3px 12px 0px 0px; }

.single-product .prices-block .price-label {
  min-height: 27px;
  width: 100%;
  line-height: 9px;
  margin-bottom: 0px; }

.single-product .prices-block .price-container .price-left {
  background: #ffffff;
  float: left;
  z-index: 10;
  position: relative; }

.single-product .prices-block .price-container .price-right {
  float: right;
  background: #ffffff;
  z-index: 10;
  position: relative;
  height: 22px; }

.single-product .prices-block .price-container .price-right.editable {
  padding-right: 44px;
  padding-left: 5px; }

.single-product .prices-block .price-container .price-right.editable .price {
  top: 0px; }

.single-product .prices-block .price-label .price-name {
  font-weight: normal;
  letter-spacing: 1px;
  color: #050505;
  padding-right: 5px;
  position: relative;
  top: -3px;
  left: -8px; }

.single-product .prices-block .price-container .price-right input[type="text"] {
  border: none;
  width: 65px;
  font-size: 20px;
  color: #bebcbc;
  display: inline; }

.single-product .prices-block .price {
  font-weight: normal;
  font-family: "PFDinTextPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: #CAAD59;
  margin-left: 2px;
  padding-right: 44px;
  position: relative;
  top: 8px; }

#bracket_left {
  border-top: 1px solid #bebcbc;
  border-left: 1px solid #bebcbc;
  border-bottom: 1px solid #bebcbc;
  width: 8px;
  height: 25px;
  float: left; }

#bracket_right {
  border-top: 1px solid #bebcbc;
  border-right: 1px solid #bebcbc;
  border-bottom: 1px solid #bebcbc;
  width: 8px;
  height: 25px;
  float: right; }

#bracket_left ~ span.price {
  padding-right: 0px; }

/*# sourceMappingURL=style.css.map */
