// FONTS
$PFDinTextPro-Light: 'PFDinTextPro-Light', Arial, "Helvetica Neue", Helvetica, sans-serif;
$PFDinTextPro-Regular:  'PFDinTextPro-Regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
$AGOpusHighResolution-Roman:  'AGOpusHighResolution-Roman', Arial, "Helvetica Neue", Helvetica, sans-serif;



.test h1,
.test h2,
.test h3,
.test h4,
.test h5,
.test h6 {
	display: inline-block;
	vertical-align: bottom;
}
.PFDinTextPro-Light {
	font-size: 20px;
	font-family: $PFDinTextPro-Light;
}
.PFDinTextPro-Regular {
	font-size: 20px;
	font-family: $PFDinTextPro-Regular;
}
.AGOpusHighResolution-Roman {
	font-size: 20px;
	font-family: $AGOpusHighResolution-Roman;
}

.test_box {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 40px;
}